*~
.*.swp
*.[oa]
*.l[oa]
*.so
*.libs
*.deps
.dirstamp
libtool
/aclocal.m4
/autom4te.cache
/build-stamp
/config
/config.log
/config.guess
/config.status
/config.sub
/configure
/debian/files
/debian/strongswan
/debian/strongswan.debhelper.log
/debian/libstrongswan
/debian/libstrongswan.debhelper.log
/debian/libstrongswan.postinst.debhelper
/debian/libstrongswan.postrm.debhelper
/debian/libstrongswan.substvars
/debian/strongswan-ikev1
/debian/strongswan-ikev1.debhelper.log
/debian/strongswan-ikev1.substvars
/debian/strongswan-ikev2
/debian/strongswan-ikev2.debhelper.log
/debian/strongswan-ikev2.postinst.debhelper
/debian/strongswan-ikev2.postrm.debhelper
/debian/strongswan-ikev2.substvars
/debian/strongswan-starter
/debian/strongswan-starter.debhelper.log
/debian/strongswan-starter.postinst.debhelper
/debian/strongswan-starter.postrm.debhelper
/debian/strongswan-starter.prerm.debhelper
/debian/strongswan-starter.substvars
/debian/tmp
/INSTALL
*Makefile.in
*Makefile
/scripts/bin2array
/scripts/bin2sql
/scripts/dh_speed
/scripts/id2sql
/scripts/key2keyid
/scripts/keyid2sql
/scripts/pubkey_speed
/scripts/thread_analysis
/src/_copyright/_copyright
/src/_updown/_updown
/src/charon/charon
/src/charon/plugins/sql/pool
/src/ipsec/ipsec
/src/medsrv/medsrv.fcgi
/src/openac/openac
/src/pluto/_pluto_adns
/src/pluto/pluto
/src/scepclient/scepclient
/src/starter/starter
/src/stroke/stroke
/src/whack/whack
/testing/do-tests
/src/dumm/ext/extconf.rb
/src/newhostkey/newhostkey
/src/rsasigkey/rsasigkey
